rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /trips/{tripId}/plans/{planId}/photo {
      allow read, write: if true;
    }
  }
}
